<h1>Welcome to my Nomster App!</h1>



<% @posts.each do |post| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to post.name, place_path(post) %></h1>
   
    <i><%= post.address %></i><br /><br />
    <p><%= post.description %></p><br />

    <div class="row">
    <% if post.photos.present? %>
      <div class='col-10'>
        <photogrid id='photos'>
          <%= image_tag post.photos.last.picture %>
          
        </photogrid>
      </div>
      <% end %>
    </div>
  
    <% if post.user.present? %>
      <small><%= post.user.email %></small>
    <% end %>


  <% if post.comments.present? %>
    <div class="col-12">
      <blockquote>
        <% if post.comments.last.humanized_rating.present? %>
        <b><%= post.comments.last.humanized_rating %></b> -
        <% end %>
        <%= post.comments.last.message %>
        <small>- <%= post.comments.last.user.email %></small>
      </blockquote>
    </div>
  <% end %>


  </div>

<% end %>

<%= will_paginate @posts %>




  

