<h1>Welcome to my Nomster App!</h1>



<% @posts.each do |post| %>
  <div class="booyah-box col-10 offset-1">
    <h2><%= post.name %></h2>
    <i><%= post.address %></i><br /><br />
    <p><%= post.description %></p><br />
  
    <% if post.user.present? %>
      <small><%= post.user.email %></small>
    <% end %>

  </div>


<% end %>

<%= will_paginate @posts %>




  

